import 'package:angulardart/angulardart.dart';

@Pipe('{{className}}')
class {{className}} extends PipeTransform {
  @override
  dynamic transform(dynamic value, [List<dynamic>? args]) {
    return value;
  }
}
